@import "../../variables.scss";

#contact-container {
  background-color: $secondary-color;
  height: auto;
  transition: height 300ms ease-in-out;

  .empty-box{
    width: 100%;
    height: 100px;
    background-color: $primary-color;
  }

  .header-box {
    @include centerFlex;
    position: relative;
    background-image: url("../../images/telephone.png");
    background-repeat: no-repeat;
    background-size: 100% 400px;
    height: 400px;
    background-size: cover;
    background-position: center;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 2;
    }

    .title {
      position: relative;
      z-index: 3;

      h2 {
        letter-spacing: 1px;
        line-height: 4rem;
        font-weight: 500;
        text-align: center;
      }

      p {
        text-align: center;
        line-height: 4rem;
      }

      .underline {
        width: 4rem;
        height: 5px;
        background-color: $white;
        border-radius: 5px;
        margin: 0px auto;
      }
    }
  }

  .form-container-loc {
    display: none;
    padding: 4rem 0;
    animation: slide-in-top 0.8s cubic-bezier(0.075, 0.82, 0.165, 1) both;

    @keyframes slide-in-top {
      0% {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
        opacity: 0;
      }
      100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
      }
    }

    &.active {
      @include centerFlex;
      opacity: 1;
    }

    .form-container {
      max-width: 850px;

      .form-outer {
        width: 100%;
        padding: 10px;
        border-radius: 10px;
        background-color: $primary-color;
        border: 1px $light solid;

        .form-inner {
          border-radius: 10px;
          padding: 15px 20px;
          border: 4px solid $light;
          background-color: $primary-color;

          #form {
            h4 {
              line-height: 2rem;
              padding-top: 1rem;
              @include secondFontFamily;
              letter-spacing: 1px;
            }

            p {
              @include secondFontFamily;
              font-size: 0.875rem;
              font-weight: 400;
              line-height: 2rem;
              letter-spacing: 1px;
            }

            .info {
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              gap: 1rem 4rem;

              .form-group {
                margin-top: 1.8rem;
                position: relative;

                .form-field {
                  position: relative;
                  color: #fff;
                  width: 100%;
                  height: 100%;
                  padding-top: 10px;
                  padding-bottom: 5px;
                  border: none;
                  outline: none;
                  background-color: transparent;
                  border-bottom: 2px solid #9b9b9b;
                  letter-spacing: 2px;
                  z-index: 2;
                  transition: all 0.3s ease;

                  &:focus,
                  &:hover {
                    border-image: linear-gradient(to right, #ff0062, #00ffff);
                    border-image-slice: 1;
                  }
                }

                .form-field:focus ~ .form-label,
                .form-field:valid ~ .form-label {
                  transform: scale(0.8) translate(-10px, -15px);
                  color: #2afadf;
                }

                .form-label {
                  position: absolute;
                  top: 0;
                  left: 0;
                  color: #9b9b9b;
                  cursor: text;
                  transition: all 0.3s ease;

                  span {
                    font-size: 0.835rem;
                  }
                }
              }
            }
            .form-group .message {
              width: 100%;
              outline: none;
              resize: vertical;
              border: 2px solid $light;
              background: transparent;
              color: white;
              padding: 0.5rem;
              min-height: 100px;
              margin: 1rem 0;

              &:focus {
                border-image: linear-gradient(to right, #ff0062, #00ffff);
                border-image-slice: 1;
              }
            }

            .btn-send {
              display: flex;
              justify-content: flex-end;

              input[type="submit"] {
                padding: 0.5rem 1rem;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and(max-width:"550px") {
  #contact-container
    .form-container-loc
    .form-container
    .form-outer
    .form-inner
    #form
    .info {
    grid-template-columns: 1fr;
  }
}
