@import "utils/variables.scss";

.sidebar-container {
  display: none;
  position: fixed;
  // margin-top: 1rem;
  // margin-right: 1rem;

  // background-color: black;
  height: 150px;
  width: 100%;
  z-index: 99;

  label {
    position: absolute;
    width: 2.4rem;
    height: 0.3rem;
    right: 1rem;
    top: 50%;
    background-color: #fff;
    cursor: pointer;
    z-index: 100;

    &::before,
    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 2.4rem;
      height: 0.3rem;
      background-color: #fff;
      transition: all 0.4s cubic-bezier(1, 0, 0, 1);
    }

    &::before {
      margin-top: -25%;
      transform-origin: left top;
      transform: rotateZ(0);
    }

    &::after {
      margin-top: 27%;
      transform-origin: left bottom;
      transform: rotateZ(0);
    }
  }

  #check {
    display: none;
  }

  #check:checked ~ label::before {
    width: 2rem;
    background: white;
    transform: rotateZ(41deg);
  }

  #check:checked ~ label::after {
    width: 2rem;
    background: white;
    transform: rotateZ(-41deg);
  }

  #check:checked ~ label {
    background-color: transparent;
  }

  #check:checked ~ .sidebar-content {
    transform: translateX(0px);
  }

  .sidebar-content {
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    transform: translateX(2500px);
    background-color: $light;
    z-index: 99;
    transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

    .options {
      margin-top: 80px;
      height: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      a {
        position: relative;
        cursor: pointer;
        text-transform: uppercase;

        &::before {
          content: "";
          position: absolute;
          width: 0;
          height: 3px;
          right: 0;
          top: -10px;
          border-radius: 10px;
          transition: all 500ms ease;
          background-color: white;
        }

        &::after {
          content: "";
          position: absolute;
          width: 0;
          height: 3px;
          left: 0;
          bottom: -10px;
          background-color: white;
          border-radius: 10px;
          transition: all 500ms ease;
        }

        &:hover::after,
        &:hover::before,
        &.active::before,
        &.active::after {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 775px) {
  .sidebar-container {
    display: block;
  }
}
