@font-face {
  src: url(../fonts/Ambit-Bold.ttf);
  font-family: "Ambit-Bold.ttf";
}

.footer {
  background-color: #5e5e5e;
  margin-top: 40px;
}

.icon-list {
  text-align: center;
}

.icon-list a {
  color: white;
  text-decoration: none;
}

.icon {
  font-size: 30px;
  margin: 8px;
}
