.inquiries-title {
  text-align: left;
  margin-bottom: 5px;
  font-size: 30px;
  padding-top: 60px;
}

.form-container {
  background-color: #626262;
  border-radius: 1vh;
  margin: 5px auto;
  padding: 20px;
  border: 2px solid #333;
  width: 70% auto;
}

.outer-form-container {
  border-radius: 1vh;
  background-color: #626262;
  padding: 10px;
  width: 80% auto;
}

#des {
  color: black;
}
