.preview_title {
  display: inline-block;
}
.preview_more {
  float: right;
  margin-right: 15px;
}

@media screen and (max-width: 466px) {
  .preview_title {
    font-size: 1.5rem;
    padding-bottom: 5px;
  }
}
