.carousel-frame {
  background-color: #d2d2d2;
  display: flex;
  margin: 20px auto;
  width: 70%;
}

.carousel-div {
  width: 70%;
}

.carousel-frame ul {
  list-style: none;
  width: 30%;
  margin: 20px;
  overflow: hidden;
}

.carousel-frame ul li {
  color: black;
  font-size:1vw;
}

#image-caption {
  display: none;
  left: 0px;
  right: 0px;
}

#image-item:hover + #image-caption {
  display: block;
}

#inner-caption {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
  -o-backdrop-filter: blur(qpx);
  -ms-backdrop-filter: blur(5px);
  -moz-backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

@media (hover: hover) {
  #image-item:hover + #image-caption {
    display: block;
  }
}
